<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Root</string>
	<key>children</key>
	<array>
		<dict>
			<key>name</key>
			<string>title</string>
		</dict>
		<dict>
			<key>name</key>
			<string>subtitle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>date</string>
		</dict>
		<dict>
			<key>name</key>
			<string>product</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>name</string>
				</dict>
				<dict>
					<key>name</key>
					<string>date</string>
				</dict>
				<dict>
					<key>name</key>
					<string>description</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
